/* .some-text {
    font-family: "Montserrat", "Arial" sans-serif;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
} */

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.open-sans-1 {
    font-weight: 400;
}

.open-sans-2 {
    font-size: 20px;
    text-align: center;
}

.open-sans-3 {
    word-spacing: 30px;
}

.open-sans-4 {
    letter-spacing: 5px;
    border-bottom: 3px double;
}