.container {
    border: 1px solid #000;
    border-radius: 25px 0 0 25px;
    width: 1570px;
    height: 600px;
    overflow: auto;
}

.box {
    display: inline-block;
    width: 230px;
    height: 200px;
    background: #d3c4a2;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    box-shadow: inset 1px 1px 8px 1px #000;
}

h1, p {
    display: flex;
    margin: 25px;
}